
.nav{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    padding: 16px 0px;
    margin: 16px;
    background-color: #89b67f
}

img{
    width: 140px;
    height: 140px;
}

